@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Livvic", sans-serif;
  background: #014E56;
}

img {
  max-width: 100%;
  height: auto;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

.header__content {
  padding-top: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__img {
  max-width: 159px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item + .header__item {
  margin-left: 40px;
}

.header__item-link {
  max-width: 51px;
  font-weight: 600px;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.header__link2 {
  max-width: 153px;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  padding: 9px 33px 11px 32px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.header__menu {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 20px;
  height: 20px;
  display: none;
}

@media only screen and (max-width: 1100px) {
  .header__img {
    max-width: 127px;
    margin-right: 48px;
  }
  .header__link2 {
    margin-left: 220px;
  }
}
@media only screen and (max-width: 786px) {
  .header__img {
    max-width: 127px;
    margin-right: 0;
    margin-left: 24px;
  }
  .header__link2 {
    margin-left: 179px;
    display: none;
  }
  .header__menu {
    display: inline-block;
  }
  .header__list {
    display: none;
  }
}
.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 120px;
  padding-bottom: 120px;
}

.hero__tittle {
  max-width: 203px;
  font-weight: 700px;
  font-size: 64px;
  line-height: 100px;
  color: #FFFFFF;
}

.hero__right-box::before {
  content: "";
  width: 50px;
  height: 4px;
  background-color: #F67E7E;
  display: inline-block;
  margin-bottom: 40px;
}

.hero__text {
  max-width: 730px;
  font-weight: 600px;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

@media only screen and (max-width: 1100px) {
  .hero__content {
    display: block;
  }
  .hero__tittle {
    max-width: 198px;
    margin-right: auto;
    margin-left: auto;
  }
  .hero__right-box {
    margin-right: auto;
    margin-left: auto;
    max-width: 457px;
  }
  .hero__right-box::before {
    content: "";
    display: none;
  }
  .hero__text {
    max-width: 457px;
  }
}
@media only screen and (max-width: 677px) {
  .hero__tittle {
    margin-right: auto;
    margin-left: auto;
    max-width: 143px;
  }
  .hero__right-box {
    margin-right: auto;
    margin-left: auto;
    max-width: 327px;
  }
  .hero__text {
    max-width: 327px;
  }
}
#collect {
  background-color: #004047;
}

.collect__content {
  padding-top: 140px;
  padding-bottom: 140px;
}

.collect__tittle {
  max-width: 432px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 64px;
  font-weight: 700px;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
}

.collect__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.colledt__item {
  background: #012F34;
  width: 350px;
  height: 281px;
  margin-bottom: 76px;
}

.collect__item-img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 96px;
  height: 96px;
  margin: 32px auto 16px auto;
}

.collect__item-name {
  max-width: 120px;
  font-weight: 700px;
  font-size: 18px;
  line-height: 28px;
  color: #79C8C7;
  text-align: center;
  margin: 0 auto;
}

.collect__item-suptittle {
  max-width: 130px;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  margin: 0 auto;
  color: #FFFFFF;
  margin-bottom: 58px;
}

.collect__item-img2 {
  max-width: 56px;
  height: 56px;
  margin: 0 auto;
}

@media only screen and (max-width: 1100px) {
  .collect__tittle {
    max-width: 286px;
    margin-right: auto;
    margin-left: auto;
    font-size: 32px;
    line-height: 32px;
  }
  .colledt__item {
    max-width: 281px;
    height: 281px;
    margin-bottom: 48px;
  }
  .collect__item-img {
    margin: 32px auto 16px auto;
  }
  .collect__item-name {
    max-width: 120px;
    margin-right: auto;
    margin-left: auto;
  }
  .collect__item-suptittle {
    max-width: 120px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 58px;
  }
}
@media only screen and (max-width: 619px) {
  .collect__content {
    padding-top: 88px;
  }
  .collect__tittle {
    max-width: 285px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
  }
  .collect__list {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .colledt__item {
    max-width: 327px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 24px;
  }
  .collect__item-img {
    margin: 32px auto 16px auto;
  }
  .collect__item-name {
    max-width: 115px;
    margin-right: auto;
    margin-left: auto;
  }
  .collect__item-suptittle {
    max-width: 115px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 58px;
  }
}
@media only screen and (max-width: 374px) {
  .collect__tittle {
    max-width: 177px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 64px;
    font-weight: 400px;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
  }
  .collect__list {
    display: block;
  }
  .colledt__item {
    background: #012F34;
    width: 250px;
    height: 281px;
    margin-bottom: 76px;
  }
  .collect__item-img {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    max-width: 96px;
    height: 96px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 32px;
    margin-bottom: 16px;
  }
  .collect__item-name {
    max-width: 120px;
    font-weight: 700px;
    font-size: 18px;
    line-height: 28px;
    color: #79C8C7;
    text-align: center;
    margin: 0 auto;
  }
  .collect__item-suptittle {
    max-width: 130px;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    margin: 0 auto;
    color: #FFFFFF;
    margin-bottom: 58px;
  }
  .collect__item-img2 {
    max-width: 56px;
    height: 56px;
    margin: 0 auto;
  }
}
#our {
  background: #012F34;
}

.our__content {
  padding-top: 140px;
  padding-bottom: 140px;
}

.our__tittle {
  max-width: 444px;
  margin: 0 auto;
  font-weight: 700px;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
  margin-bottom: 64px;
}

.our__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our__item {
  max-width: 184px;
}

@media only screen and (max-width: 1000px) {
  .our__tittle {
    max-width: 298px;
    font-size: 32px;
    line-height: 32px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
  }
  .our__item {
    max-width: 114px;
  }
}
@media only screen and (max-width: 800px) {
  .our__tittle {
    max-width: 297px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 64px;
  }
  .our__list {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .our__link {
    max-width: 162px;
    margin-bottom: 56px;
  }
  .our__item {
    margin-right: auto;
    margin-left: auto;
  }
}
#get {
  background-color: #F67E7E;
}

.get__content {
  padding-top: 76px;
  padding-bottom: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.get__tittle {
  max-width: 504px;
  font-weight: 700px;
  font-size: 48px;
  line-height: 48px;
  color: #012F34;
}

.get__link {
  max-width: 153px;
  padding: 10px 32px;
  font-weight: 600px;
  font-size: 18px;
  line-height: 28px;
  color: #012F34;
  border: 2px solid #012F34;
  border-radius: 24px;
}

@media only screen and (max-width: 942px) {
  .get__tittle {
    max-width: 336px;
    font-size: 32px;
    line-height: 32px;
  }
}
@media only screen and (max-width: 595px) {
  .get__content {
    display: block;
  }
  .get__tittle {
    max-width: 207px;
    font-size: 32px;
    line-height: 32px;
    margin: 0 auto;
  }
  .get__link {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 24px;
  }
}
#footer {
  background-color: #002529;
}

.footer__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 48px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.footer__item + .footer__item {
  margin-left: 40px;
}

.footer__item-link {
  max-width: 49px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.footer__text {
  max-width: 165.4px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  opacity: 0.6;
}

.footer__imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.footer__img + .footer__img {
  margin-left: 16px;
}

.footer__big-link {
  max-width: 255px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  opacity: 0.6;
}

@media only screen and (max-width: 800px) {
  .footer__content {
    position: relative;
    display: block;
  }
  .footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 37px;
  }
  .footer__box2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media only screen and (max-width: 500px) {
  .footer__content {
    position: relative;
    display: block;
  }
  .footer__box {
    display: block;
    margin: 0 auto;
  }
  .footer__box2 {
    display: block;
    margin: 0 auto;
  }
  .footer__big-link {
    max-width: 255px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.6;
  }
  .footer__imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
  .footer__item-link {
    max-width: 49px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 0 auto;
  }
}/*# sourceMappingURL=main.css.map */