#collect{
    background-color: #004047;
}
.collect__content{
    padding-top: 140px;
    padding-bottom: 140px;
}
.collect__tittle{
    max-width: 432px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 64px;
    font-weight: 700px;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF; 
}
.collect__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.colledt__item{
    background: #012F34;
    width: 350px;
    height: 281px;
    margin-bottom: 76px;
}
.collect__item-img{
    flex-shrink: 0;
    max-width: 96px;
    height: 96px;
    margin: 32px auto 16px auto;
}
.collect__item-name{
    max-width: 120px;
    font-weight: 700px;
    font-size: 18px;
    line-height: 28px;
    color: #79C8C7;
    text-align: center;  
    margin: 0 auto;
}
.collect__item-suptittle{
    max-width: 130px;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    margin: 0 auto;
    color: #FFFFFF;  
    margin-bottom: 58px;
}
.collect__item-img2{
    max-width: 56px;
    height: 56px;
    margin: 0 auto;
}

@media only screen and (max-width:1100px){
    .collect__tittle{
        max-width: 286px;
        margin-right: auto;
        margin-left: auto;
        font-size: 32px;
        line-height: 32px;
    }
    .colledt__item{
        max-width: 281px;
        height: 281px;
        margin-bottom: 48px;
    }
    .collect__item-img{
        margin: 32px auto 16px auto;
    }
    .collect__item-name{
        max-width: 120px;
        margin-right: auto;
        margin-left: auto;
    }
    .collect__item-suptittle{
        max-width: 120px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 58px;
    }
}
@media only screen and (max-width:619px){
    .collect__content{
        padding-top: 88px;
    }
    .collect__tittle{
        max-width: 285px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 48px;
    }
    .collect__list{
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .colledt__item{
        max-width: 327px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 24px;
    }
    .collect__item-img{
        margin: 32px auto 16px auto;
    }
    .collect__item-name{
        max-width: 115px;
        margin-right: auto;
        margin-left: auto;
    }
    .collect__item-suptittle{
        max-width: 115px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 58px;
    }
}
@media only screen and (max-width:374px){
        
    .collect__tittle{
        max-width: 177px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 64px;
        font-weight: 400px;
        font-size: 24px;
        line-height: 24px;
        color: #FFFFFF; 
    }
    .collect__list{
        display: block;
    }
    .colledt__item{
        background: #012F34;
        width: 250px;
        height: 281px;
        margin-bottom: 76px;
    }
    .collect__item-img{
        flex-shrink: 0;
        max-width: 96px;
        height: 96px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 32px;
        margin-bottom: 16px;
    }
    .collect__item-name{
        max-width: 120px;
        font-weight: 700px;
        font-size: 18px;
        line-height: 28px;
        color: #79C8C7;
        text-align: center;  
        margin: 0 auto;
    }
    .collect__item-suptittle{
        max-width: 130px;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        margin: 0 auto;
        color: #FFFFFF;  
        margin-bottom: 58px;
    }
    .collect__item-img2{
        max-width: 56px;
        height: 56px;
        margin: 0 auto;
    }
}