#get{

    background-color: #F67E7E;
}
.get__content{
    padding: 76px 0;
    display: flex;
}
.get__tittle{
    max-width: 504px;
    font-weight: 700px;
    font-size: 48px;
    line-height: 48px;
    color: #012F34;  
}
.get__link{
    margin-left: 260px;
    max-width: 153px;
    padding: 10px 32px;
    font-weight: 600px;
    font-size: 18px;
    line-height: 28px;
    color: #012F34;  
    border: 2px solid #012F34;
    border-radius: 24px; 
}
@media only screen and (max-width:942px){
    .get__tittle{
        max-width: 336px;
        font-size: 32px;
        line-height: 32px;
    }
    .get__link{
        margin-left: 84px;
    }
}
@media only screen and (max-width:595px){
    .get__content{
        padding: 83px 0;
        display: block;
    }.get__tittle{
        max-width: 327px;
        font-size: 32px;
        line-height: 32px;
        margin: 0 auto;
    }
    .get__link{
        display: inline-block;
        margin-top: 24px;
    }
}
