
.hero__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 120px;
    padding-bottom: 120px;
}
.hero__tittle{
    max-width: 203px;
    font-weight: 700px;
    font-size: 64px;
    line-height: 100px;
    color: #FFFFFF;  
}
.hero__right-box{
    &::before{
        content: "";
        width: 50px;
        height: 4px;
        background-color: #F67E7E;
        display: inline-block;
        margin-bottom: 40px;
    }
}
.hero__text{
    max-width: 730px;
    font-weight: 600px;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;   
}
@media only screen and (max-width:1100px){
    .hero__content{
        display: block;
    }
    .hero__tittle{
        max-width: 198px;
        margin-right: auto;
        margin-left: auto;
    }
    .hero__right-box{
        &::before{
            content: "";
            display: none;
        }
        margin-right: auto;
        margin-left: auto;
        max-width: 457px; 
    }
    .hero__text{
        max-width: 457px; 
    }
}
@media only screen and (max-width:677px){
    .hero__tittle{
        margin-right: auto;
        margin-left: auto;
        max-width: 143px;
    }
    .hero__right-box{
        margin-right: auto;
        margin-left: auto;
        max-width: 327px; 
    }
    .hero__text{
        max-width: 327px; 
    }
}