#our{
    background: #012F34;
}
.our__content{
    padding-top: 140px;
    padding-bottom: 140px;
}
.our__tittle{
    max-width: 444px;
    margin: 0 auto;
    font-weight: 700px;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;  
    margin-bottom: 64px;
}
.our__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.our__item{
    max-width: 184px;
}
@media only screen and (max-width:1000px){
    .our__tittle{
        max-width: 298px;
        font-size: 32px;
        line-height: 32px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 48px;
    }
    .our__item{
        max-width: 114px;
    }
}
@media only screen and (max-width:800px){
    .our__tittle{
        max-width: 297px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 64px;
    }
    .our__list{
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .our__link{
        max-width: 162px;
        margin-bottom: 56px;
    }
    .our__item{
        margin-right: auto;
        margin-left: auto;
    }
}